.main {
  width: 100%;
  height: 100%;

  .content {
    background-color: white;
    padding: 10%;

    .title {
      font: 40px sans-serif;
      color: darkblue;
    }

    .btn {
      font: 20px sans-serif;
      background-color: darkblue;
      color: aqua;
      border-radius: 3px;
      border-color: darkblue;
      border-width: 3px;      
    }
  }
}